@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Titillium+Web&display=swap');


:root {
  
  --primary: #26434f;
  --primaryLight: #376071;
  --primaryDark: #15262d;
  --secondary: #59a25c;
  --secondaryLight: #6fca3a;
  --primary-gradient:  linear-gradient(to right, var(--primary), var(--primaryLight));
  --secondary-gradient:  linear-gradient(to right, var(--secondary), var(--secondaryLight));
  --primary-gradient-Alpha50: linear-gradient(to right, #26434f50 , #37607150);

  background: var(--primary-gradient-Alpha50);
  display: flex;
  justify-content: center;
  align-items: center; 
}  
.main {
  margin-top: 6rem;
  padding-top: 1rem;
  width: 100vw;
}

.main_header {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 0.5rem;  
  height: 9vh;
  width: 100%;
  background: var(--primary-gradient)
  
}
.main_header_container {
 height: 100%;
 margin: 0 1rem;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between; 
}
.main_header div {
 display: flex;
 flex-direction: row;
 align-items: center;
}
.main_header h1 {
  color: white;
 margin: 0;
 margin-left: 1rem;
 padding: 0;
 font-size: 2rem;
 font-family: 'Titillium Web', sans-serif;
}
.header-logo {
  height: 8vh;
  width: 8vh;
}

/* LANDING PAGE */

.landigPage_container {
  width: 100vw;
  height: 100vh;
  background: var(--primary-gradient);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.landigPage_container img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.landigPage_container  h1 {
  color: white;
  text-align: center;
}

.landigPage_container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.landigPage_container button {
  margin: 8px;
}


/* HOME PAGE */
.homePage_gotocart_Btn {
  position: fixed;
  top: 16vh;
  right: 2rem;
  display: flex;
  justify-content: center;
  padding: 10px;
  height: 80px;
  width: 80px;
  border-radius: 40px;
  font-size: 50px;
  text-align: center;
  box-shadow:  0 0 10px 0px black;
  background: var(--primary-gradient);
  color: white;
}
.homePage_gotocart_Btn p {
  position: fixed;
  top: 15.6vh;
  right: 1.8rem;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  font-size: 12px;
  
  margin: 0;
  padding: 0;
  background: var(--secondaryLight);

  line-height: 24px;
  text-align: center;

  box-shadow:  0 0 10px 0px black;
}

/* SEARCH BAR */
.SearchBar_container {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  width: 100%;
  height: 2.5vh;
  background: var(--primary-gradient);
}

.SearchBar_container p {
  width: 10%;
  height: 1.2rem;
  text-align: center;
  color: #15262d;
  background: var(--secondary-gradient);
  font-size: small;
  border-radius: 0rem 0.3rem 0.3rem 0rem;
}
.SearchBar_container input {
  width: 60%;
  border: 1px solid var(--secondary);
  border-radius: 0.3rem 0rem 0rem 0.3rem;
  font-size: smaller;
}

/* CART PAGE  */

.pages_Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: var(--primary-gradient);
  height: 10vh;
  padding: 0 1rem;
}

.cartPage_bookContainer {
  height: 75vh;
  overflow-y: scroll;
}



/* DETAIL PAGE */
.cartPage_Header {
  display: flex;
  flex-direction: row ;
  justify-content: space-between;
  align-items: center;
}

.detailPage_mainContainer {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  background: var(--primary);
}
.detailPage_imgContainer{
  display: flex;
  justify-content: center;
  background: linear-gradient(0deg, var(--primary) 50%, rgba(9,9,121,0) 100%);
}
.detailPage_roundImgContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  height: 200px;
  width: 200px;
  border-radius: 100px;
}
.detailPage_bookImg {
  height: 140px;
  width: 140px;
}




/* books inline container */
.books_inlineContainer {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  background: var(--primary-gradient-Alpha50);
  padding: 0.5rem;
 
}
