@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Titillium+Web&display=swap');


:root {
  
  --primary: #26434f;
  --primaryLight: #376071;
  --primaryDark: #15262d;
  --secondary: #59a25c;
  --secondaryLight: #6fca3a;
  --primary-gradient:  linear-gradient(to right, var(--primary), var(--primaryLight));
  --secondary-gradient:  linear-gradient(to right, var(--secondary), var(--secondaryLight));
  --primary-gradient-Alpha50: linear-gradient(to right, #26434f50 , #37607150);

  background: var(--primary-gradient-Alpha50);
  display: flex;
  justify-content: center;
  align-items: center;
} 
.main {
  margin-top: 6rem;
  padding-top: 1rem;
  width: 100vw;

}

.main_header {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 0.5rem;  
  width: 100%;
  background: var(--primary-gradient)
  
}
.main_header_container {
 height: 100%;
 margin: 0 1rem;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between; 
}
.main_header div {
 display: flex;
 flex-direction: row;
 align-items: center;
}
.main_header h1 {
  color: white;
 margin: 0;
 margin-left: 1rem;
 padding: 0;
 font-size: 2rem;
 font-family: 'Titillium Web', sans-serif;
}
.header-logo {
  height: 3.8rem;
  width: 3.8rem;
}

/* landigPage */

.landigPage_container {
  width: 100vw;
  height: 100vh;
  background: var(--primary-gradient);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landigPage_container img {
  display: flex;
  align-items: center;
}

.landigPage_container  h1 {
  color: white;
  text-align: center;
}

.landigPage_container img {
  width: 60%;
}

.landigPage_container button {
  margin: 8px;
}

/* books inline container */
.books_inlineContainer {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  background: var(--primary-gradient-Alpha50);
  padding: 0.5rem;
 
}


/* BOOK CARD */

.bookCard {
  display: flex;
  flex-direction: column;
  width: 12rem;
  height: 18rem;
  align-items: center;
  margin: 0 0.5rem;
  background-color: bisque;

  text-align: left;

  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow:  0 0 10px 0px black;
}

.bookCard img {
  height: 5rem;
  width: 5rem;

}
.bookCard_body h2 {
  font-size: 1rem;
}
.bookCard_body h4 {
  font-size: 0.6rem;
}

.bookCard_cart_container {
  display: flex;
  flex-direction: column;
}
.bookCard_cart_container p {
  margin: 0px 12px;
  text-align: left;
  font-size: 8px;
}


.bookCard_cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  margin: 4px 8px;
}
.bookCard_cart div {
  display: flex;
  flex-direction: row;
  height: 32px;
  background: var(--secondary);
  border-radius: 8px;

}
.bookCard_cart_quantity {
  width: 32px;
  margin: 0;
  text-align: center;
  line-height: 32px;
}
.bookCard_cart button {
  width: 32px;
  height: 32px;
  padding: 4px;
  border: 2px solid var(--secondaryLight);
}

.bookCard_cart_buyBtn {
  margin-left: 8px;
  
}

.errorMessage {
  color: red;
}



/* SEARCH BAR */
.SearchBar_container {
  display: flex;
  padding: 0.5rem;
  justify-content: center;
  width: 100%;
  height: 1.5rem;
  background: var(--primary-gradient);
}

.SearchBar_container p {
  width: 10%;
  height: 1.2rem;
  text-align: center;
  color: #15262d;
  background: var(--secondary-gradient);
  font-size: small;
  border-radius: 0rem 0.3rem 0.3rem 0rem;
}
.SearchBar_container input {
  width: 60%;
  border: 1px solid var(--secondary);
  border-radius: 0.3rem 0rem 0rem 0.3rem;
  font-size: smaller;
}


.cartPage_Header {
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--primary-gradient);
  height: 20vh;
}

.cartPage_bookContainer {
  height: 60vh;
  overflow-y: scroll;
}